modules = ["nodejs-20", "web", "nodejs-with-prybar-18", "dotnet-7.0", "dotnet-8.0", "angular-node-20", "bash", "bun-1.2", "bun-1.1", "bun-1.0", "gcloud", "nodejs-23", "nodejs-22", "nodejs-19", "nodejs-18", "nodejs-16", "nodejs-14", "typescript-language-server"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Start Development Server"
author = 44124615
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd api && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"
