modules = ["nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd api && npm start"]

[workflows]
runButton = "Start Development Server"

[[workflows.workflow]]
name = "Start Development Server"
author = 44124615
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd api && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"
